MyCityClient/Connected Services/StoreServiceReference/StoreService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="StoreService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:8000/StoreService?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:8000/StoreService?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:8000/StoreService?xsd=xsd2" />
      <xsd:import schemaLocation="http://localhost:8000/StoreService?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/MyCityLibrary" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IStoreService_GetStores_InputMessage">
    <wsdl:part name="parameters" element="tns:GetStores" />
  </wsdl:message>
  <wsdl:message name="IStoreService_GetStores_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetStoresResponse" />
  </wsdl:message>
  <wsdl:message name="IStoreService_GetStoreByID_InputMessage">
    <wsdl:part name="parameters" element="tns:GetStoreByID" />
  </wsdl:message>
  <wsdl:message name="IStoreService_GetStoreByID_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetStoreByIDResponse" />
  </wsdl:message>
  <wsdl:message name="IStoreService_GetStoresByName_InputMessage">
    <wsdl:part name="parameters" element="tns:GetStoresByName" />
  </wsdl:message>
  <wsdl:message name="IStoreService_GetStoresByName_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetStoresByNameResponse" />
  </wsdl:message>
  <wsdl:message name="IStoreService_GetStoresByCategory_InputMessage">
    <wsdl:part name="parameters" element="tns:GetStoresByCategory" />
  </wsdl:message>
  <wsdl:message name="IStoreService_GetStoresByCategory_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetStoresByCategoryResponse" />
  </wsdl:message>
  <wsdl:portType name="IStoreService">
    <wsdl:operation name="GetStores">
      <wsdl:input wsaw:Action="http://tempuri.org/IStoreService/GetStores" message="tns:IStoreService_GetStores_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IStoreService/GetStoresResponse" message="tns:IStoreService_GetStores_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetStoreByID">
      <wsdl:input wsaw:Action="http://tempuri.org/IStoreService/GetStoreByID" message="tns:IStoreService_GetStoreByID_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IStoreService/GetStoreByIDResponse" message="tns:IStoreService_GetStoreByID_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetStoresByName">
      <wsdl:input wsaw:Action="http://tempuri.org/IStoreService/GetStoresByName" message="tns:IStoreService_GetStoresByName_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IStoreService/GetStoresByNameResponse" message="tns:IStoreService_GetStoresByName_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetStoresByCategory">
      <wsdl:input wsaw:Action="http://tempuri.org/IStoreService/GetStoresByCategory" message="tns:IStoreService_GetStoresByCategory_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IStoreService/GetStoresByCategoryResponse" message="tns:IStoreService_GetStoresByCategory_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IStoreService" type="tns:IStoreService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetStores">
      <soap:operation soapAction="http://tempuri.org/IStoreService/GetStores" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetStoreByID">
      <soap:operation soapAction="http://tempuri.org/IStoreService/GetStoreByID" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetStoresByName">
      <soap:operation soapAction="http://tempuri.org/IStoreService/GetStoresByName" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetStoresByCategory">
      <soap:operation soapAction="http://tempuri.org/IStoreService/GetStoresByCategory" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="StoreService">
    <wsdl:port name="BasicHttpBinding_IStoreService" binding="tns:BasicHttpBinding_IStoreService">
      <soap:address location="http://localhost:8000/StoreService" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>