MyCityClient/Connected Services/StoreServiceReference/StoreService.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/MyCityLibrary" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/MyCityLibrary" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="Store">
    <xs:sequence>
      <xs:element minOccurs="0" name="Category" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Description" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Rating" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="StoreID" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Store" nillable="true" type="tns:Store" />
</xs:schema>